<li class="tweet">
	<span class="time">{{time}}</span>
	<img src="{{avatar}}" />
	<h3>{{screen_name}}<span>&#40{{real_name}}&#41</span></h3>
	<p>{{tweet_body}}</p>
	<a href="{{tweet_url}}">&gt;</a>
</li>