{{#each formatted_tweets}}
	<li class="tweet">
		<span class="time">{{time}}</span>
		<img src="{{avatar}}" />
		<h3>{{screen_name}}&nbsp;<span>&#40{{real_name}}&#41</span></h3>
		<p>{{tweet_body}}</p>
		<a href="{{tweet_url}}" target="_blank">
			<span>&gt;</span>
		</a>
	</li>
{{/each}}